@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: rgb(189, 184, 184);
}

/*--------------------------- CSS para toda la parte de la NAVEGACION (NAV)-------------------------- */
.bg-fondo{
  background-color: #6eb744;
}
.container-fluid h2{
  color: #7b6519;
  font-size: 30px;
  font-weight: 900;
}
.offcanvas-body a{
  color: #7b6519;
  font-size: 22px;
  font-weight: 900;
}
.offcanvas-body ul li a:hover{
  color: white;
  background-color: #7b6519;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.redes a{
  color: #7b6519;
  padding: auto 20px;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
}
/*--------------------------- CSS para toda la parte del MAIN SECCION 1-------------------------- */

.caja-banner {
  background-image: url(../image/dirk-ribbler-xEFoRSMT-x4-unsplash.jpg);
  width: 100%;
  height: calc(100vh - 70px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.capa-banner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contenido-banner {
  margin: 0;
  width: 60%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 50px;
}
.contenido-banner h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
}
.contenido-banner p {
  width: 90%;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}
.button {
  color: whitesmoke;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid white;
  width: 250px;
  border-radius: 15px;
}
.button:hover{
    background: white;
    color: black;
    border: 2px solid black;
    font-size: 17px;
}
/*--------------------------- SECCION 2 SABIAS QUE????-------------------------- */
.container-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 20px;
  width: 100%;
}
.sabias-que{
  width: 100%;
  height: 75%;
  border: 4px solid #6eb744;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 50px;
  padding: 0 20px;
  background-color: #6eb744;
  opacity: 0.8;
}
.art-receta{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  margin: 50px auto;
}
.art-receta h2{
  color: #7b6519;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
.art-receta img{
  width: 70%;
  height: 180px;
  border-radius: 10px;
}
.art-receta button{
  padding: 10px;
  border-radius: 15px;
  background: #6eb744;
  color: whitesmoke;
  font-size: 900;
  text-transform: uppercase;
}*

/*--------------------------- CREACION DE IMAGEN PARA COMENTARIOS DE PERSONAS-------------------------- */











/*--------------------------------------------- MAIN PARA QUIENES SOMOS-------------------------- */
main{
  width: 100%;
}
.contenedor-quienes-somos{
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 20px;
}
.conte-arti{
  display: flex;
  flex-direction: column;
}
.conte-arti h2{
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  color: #7b6519;
  text-transform: uppercase;
  padding: 50px 0;
  border-bottom:2px solid #6eb744;
}
.mision{
  text-align: end;
  border-bottom:2px solid #6eb744;
}
.cont-parrafo{
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 15px;
  padding: 20px 0;
  height: 250px;
}
.cont-parrafo img{
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.cont-parrafo p{
  text-align: justify;
  height: 100%;
}

/*----------------------------------------------------- MAIN PARA PRODUCTOS -------------------------------------*/
.title{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #7b6519;
  padding: 30px 0;
}
.contenedor1{
display: grid;
grid-template-columns: repeat(4,1fr);
width: 100%;
gap: 30px;
}
.contenedor1 .card{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items:center;
  width: 350px;
  height: auto;
  border-radius: 10px;
  margin: 10px auto;
  padding-bottom: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0,2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
}
.contenedor1 .card:hover{
  transform: translatey(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0,2);
}
.contenedor1 .card img{
  width: 100%;
  height: 220px;
  padding-bottom: 25px;
}
.contenedor1 .card h4{
  font-weight: 500;
}
.contenedor1 .card p{
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 400;
}
.contenedor1 .card a{
  font-weight: 500;
  color: #6eb744;

}

/*----------------------------------------------------- MAIN PARA CONTACTOS -------------------------------------*/
.contenedor-contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.contenedor-contacto h2{
  padding: 30px 0;
  font-size: 50px;
  font-weight: 900;
  color: #7b6519;
  border-bottom: 2px solid #6eb744;
}
.cont-form{
  display: flex;
}
.text-form{
  text-align:center;
  padding: 30px 0;
  height: auto;
}
.text-form p{
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  width: 85%;
  padding-bottom: 20px;
}
.text-form img{
  width: 45%;
  border-radius: 50px;
}
.text-form, form{
  width: 50%;
}
form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px; 
  width: 40%;
  padding: 15px;
}
form label{
  font-size: 18px;
  color: #7b6519;
  font-weight: 500;
  text-transform: uppercase;
}
form input,textarea{
  font-size: 15px;
  width: 80%;
  padding: 10px 12px;
  border-radius: 20px;
  border: 2px solid rgb(189, 184, 184);
  background: #7db95a;
  outline: none;
}
.btn{
  color: aliceblue;
  font-weight: 900;
  font-size: 20px;
}

/*-----------------------------------------------FOOTER-------------------------------------------------*/
footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #6eb744;
  padding: 50px;
  width: 100%;
}
.footer-link{
  width: 100%;
  padding: 0 15px;
}
.footer-link h4{
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 900;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #7b6519;
}
.footer-link ul li a{
  font-size: 18px;
  color: #7b6519;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3 ease;
}
.footer-link ul li a:hover{
  color: white;
  padding-left: 6px;
}
.social-link a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.social-link a:hover{
  background-color: #7b6519;
}
.cont-copy{
  width: 100%;
  margin: 0 auto;
  background-color: #7b6519;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.copy{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.copy img{
  width: 40px;
  border-radius: 50%;
}
.copy h4{
  color: whitesmoke;
  font-size: 15px;
  font-weight: 900;
}
.copy p{
  align-items: center;
  font-size: 14px;
  color: whitesmoke;
  font-weight: 900;
}
/*-----------------------------------------------MAIN PARA REGISTRARSE----------------------------------------*/
.contenedor-registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  text-align: center;
}
.btn-registro{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.btn-registro span{
  padding: 10px 20px;
  border: 2px solid #7b6519;
  border-radius: 10px;
}
.btn-registro h2{
  color: #7b6519;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.registro{
  display: flex;  
  justify-content: center;
  width: 100%;
}
.form-registro{
  border: 2px solid #7b6519;
  width: 45%;
  padding: 25px;
  border-radius: 20px;
}
.form-registro input{
  width: 95%;
}
.btn-reg{
  color: aliceblue;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 900;
}

