@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: rgb(159, 154, 154);
}
/*--------------------------- CSS para toda la parte de la NAVEGACION (NAV)--------------------------*/
.navbar{
  background-color: #6eb744;
  height: 60px;
  margin: 20px;
  border-radius: 15px;
}
.offcanvas{
  background-color: #6eb744;
  margin: 20px;
  border-radius: 15px;
}
.logo{
  width: 60px;
  height: 60px;
}
.letra-logo{
  color: #7b6519;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  transition: 0.5s color;
}
.letra-logo:hover{
  color: whitesmoke;
}
.bi-whatsapp, .bi-instagram{
  width: 30px;
  height: 25px;
  color: #7b6519;
  font-weight: 900;
  padding-left: 10px;
}
.nav-link{
  color: #7b6519;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 17px;
  padding-left: 10px;
  transition: 0.5s color;
}
.nav-link:hover{
  color: whitesmoke;
}
.indice{
  color: whitesmoke;
  background-color: #396f19;
  border-radius: 15px;
  border: none;
}
.navbar-toggler{
  border: none;
  font-size: 25px;
}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

/*-------------------------------------------------------main-------------------------------------------------*/

/*-------------------------CARRUSEL---------------*/
.container_carrusel{
  margin-top: 100px;
}
.d-item{
  height: 600px;
}
.d-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 10px;
}
.carousel-caption a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
.carousel-caption button{
  background-color: #6eb744;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 15px;
}
.carousel-caption button:hover{
  border: 2px solid white;
  background-color: #396f19;
}
.carousel-caption{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  top: 0;
}
.carousel-caption h2{
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0;
}
.carousel-caption p{
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}
/*-------------------------------SABIAS QUE??------------------------------*/
.container_sabias{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container-sabias{
  width: 70%;
}
.art-sabias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #396f19;
  padding: 0 20px;
  border-radius: 15px;
}
.art-sabias h2{
  color: whitesmoke;
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
}
.art-sabias p{
  font-size: 18px;
  color: bisque;
  text-align: justify;
}
/*-----------------------------CREACION DE IMAGEN PUBLICIDAD PARA RECETAS----------*/
.container_grid{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 20px;
  width: 80%;
  border: 2px solid #7b6519;
  border-radius: 50px;
  background-color:rgb(143, 142, 142);
}
.titulo-receta h3{
color: #7b6519;
font-weight: 900;
text-transform: capitalize;
font-size: 40px;
margin-bottom: 40px;
}
.art-receta{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  margin: 50px auto;
}
.art-receta h2{
  color: #7b6519;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
.art-receta img{
  width: 70%;
  height: 180px;
  border-radius: 10px;
}
.art-receta button{
  background-color: #6eb744;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 15px;
}
.art-receta button:hover{
  border: 2px solid white;
  background-color: #396f19;
}
.art-receta button a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
/*--------------------------- CREACION DE CARD PARA FUNDADORES--------------------------*/ 
.container_rostros{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-rostro{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  padding: 20px;
  width: 45%;
}
.card-img-top{
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
}
.card-caja{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  background-color: #6eb744;
  border: 2px solid #7b6519;
  border-radius: 20px;
}
.titulo-rostros h3{
  color: #7b6519;
font-weight: 900;
text-transform: uppercase;
font-size: 40px;
margin-bottom: 50px;
border-bottom: 2px solid whitesmoke;
}
.card-body h5{
  font-size: 22px;
  color:whitesmoke;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
}
.card-body p{
  font-size: 18px;
  text-align: justify;
  color: #7b6519;
  font-weight: 500;
  text-align: justify;
}
.card-caja button{
  background-color: #396f19;
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 15px;
  margin-bottom: 30px;
}
.card-caja button:hover{
  border: 2px solid white;
  background-color: #6eb744;
}
.card-caja button a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
/*-----------------------------------------------FOOTER-------------------------------------------------*/
footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #6eb744;
  padding: 50px;
  width: 100%;
  border-top: 3px solid #7b6519;
}
.footer-link{
  width: 100%;
  padding: 0 15px;
}
.footer-link h4{
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 900;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #7b6519;
}
.footer-link ul li a{
  font-size: 18px;
  color: #7b6519;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3 ease;
}
.footer-link ul{
  padding-left: 0;
}
.footer-link ul li a:hover{
  color: white;
  padding-left: 6px;
}
.social-link a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.social-link a:hover{
  background-color: #7b6519;
}
.cont-copy{
  width: 100%;
  margin: 0 auto;
  background-color: #7b6519;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.copy{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.copy img{
  width: 40px;
  border-radius: 50%;
}
.copy h4{
  color: whitesmoke;
  font-size: 15px;
  font-weight: 900;
}
.copy p{
  align-items: center;
  font-size: 14px;
  color: whitesmoke;
  font-weight: 900;
}

/*--------------------------------------------- MAIN PARA QUIENES SOMOS--------------------------*/
.container_caja_somos{
  margin-top: 150px;
  margin-bottom: 100px;
  width: 100%;
}
.caja_art_somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: auto;
  background-color: rgb(143, 142, 142);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.caja_somos{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.caja_somos img{
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: 2px solid whitesmoke;
} 
.caja_art_somos h2{
  color: #7b6519;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
  width: 100%;

}
.caja_art_somos p{
  text-align: justify;
  color: rgb(207, 206, 206);
}
/*----------------------------------------------------- MAIN PARA PRODUCTOS -------------------------------------*/
.container_productos{
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-product{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 20px;
  width: 75%;
  margin-top: 30px;
}
.container_productos h1{
  color: #7b6519;
  font-weight: 900;
  border-bottom: 2px solid whitesmoke;
}
.card-caja h3{
  color: whitesmoke;
  font-weight: 900;
  font-size: 25px;

}
/*----------------------------------------------------- MAIN PARA CONTACTOS -------------------------------------
.contenedor-contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.contenedor-contacto h2{
  padding: 30px 0;
  font-size: 50px;
  font-weight: 900;
  color: #7b6519;
  border-bottom: 2px solid #6eb744;
}
.cont-form{
  display: flex;
}
.text-form{
  text-align:center;
  padding: 30px 0;
  height: auto;
}
.text-form p{
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  width: 85%;
  padding-bottom: 20px;
}
.text-form img{
  width: 45%;
  border-radius: 50px;
}
.text-form, form{
  width: 50%;
}
form{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px; 
  width: 40%;
  padding: 15px;
}
form label{
  font-size: 18px;
  color: #7b6519;
  font-weight: 500;
  text-transform: uppercase;
}
form input,textarea{
  font-size: 15px;
  width: 80%;
  padding: 10px 12px;
  border-radius: 20px;
  border: 2px solid rgb(189, 184, 184);
  background: #7db95a;
  outline: none;
}
.btn{
  color: aliceblue;
  font-weight: 900;
  font-size: 20px;
}
/*-----------------------------------------------MAIN PARA REGISTRARSE----------------------------------------
.contenedor-registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  text-align: center;
}
.btn-registro{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.btn-registro span{
  padding: 10px 20px;
  border: 2px solid #7b6519;
  border-radius: 10px;
}
.btn-registro h2{
  color: #7b6519;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.registro{
  display: flex;  
  justify-content: center;
  width: 100%;
}
.form-registro{
  border: 2px solid #7b6519;
  width: 45%;
  padding: 25px;
  border-radius: 20px;
}
.form-registro input{
  width: 95%;
}
.btn-reg{
  color: aliceblue;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 900;
}

/*---------------MEDIA QUERY-------
/*Pagina Contacto
@media screen and (max-width: 992px){
  footer{
    grid-template-columns: repeat(2,1fr);
  }
  .footer-link{
    text-align: center;
  }
  .copy{
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  nav .container-fluid{
    flex-direction: column;
  }
  .title{
    font-size: 30px;
  }
  footer{
    grid-template-columns: repeat(1,1fr);
  }
  .footer-link{
    text-align: center;
  }
  .footer-link a{
    text-align: center;
  }
  .copy{
    flex-direction: column;
  }
}

/*Pagina Inicio
@media screen and (max-width: 768px) {
.container-grid{
  grid-template-columns: repeat(1,1fr);
}
.capa-banner{
  width: 100%;
  height: 50%;
  gap: 30px;
  padding-top: 50px;
}
.caja.banner{
  height: 200px;
}
}